CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
cmake-build-debug

*~
/*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!/dempathy-linear/dempathy-linear/libs/irrKlang-64bit-1.5.0/bin

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/tmp #temporary files
/temp
!/temp/.gitignore
/.idea/*
/.idea/dictionaries/*
/.idea
*.swp
/docs
.DS_Store

/dist/*
/ikpMP3.so
!/dist/libs
